<form role="form" ng-submit="addCustomer()">
	<div class="form-group" style="width: 35%;">

		<div class="form-group">
			<label for="selectedRoute">Select Route </label> <select
				class="form-control" ng-model="selectedRoute"
				ng-options="x.areaCovered for x in routes" required="required">
			</select>
		</div>


		<div>
			<label for="customerName">Retailer Name:</label> <input type="text"
				class="form-control" id="customerName" name="customerName"
				ng-model="form.customerName" required="required" />
		</div>

		<div>
			<label for="firmName">Firm Name:</label> <input type="text"
				class="form-control" id="firmName" name="firmName"
				ng-model="form.firmName" required="required" />
		</div>

		<div>
			<label for="gstNumber">GST NO:</label> <input type="text"
				class="form-control" id="gstNumber" name="gstNumber"
				ng-model="form.gstNumber" />
		</div>
		<div>
			<label for="panNumber">PAN NO:</label> <input type="text"
				class="form-control" id="panNumber" name="panNumber"
				ng-model="form.panNumber" />
		</div>
		<div>
			<label for="addharNumber">AADHAAR NO:</label> <input type="number"
				class="form-control" id="addharNumber" name="addharNumber"
				ng-model="form.addharNumber" />
		</div>

		<div>
			<label for="addressLine1">Address Line1:</label> <input type="text"
				class="form-control" id="addressLine1" name="addressLine1"
				ng-model="form.addressLine1" />
		</div>

		<div>
			<label for="addressLine2">Address Line2 :</label> <input type="text"
				class="form-control" id="addressLine2" name="addressLine2"
				ng-model="form.addressLine2" />
		</div>


		<div>
			<label for="state">State :</label> <input type="text"
				class="form-control" id="state" name="state" ng-model="form.state" />
		</div>

		<div>
			<label for="pincode">PIN CODE:</label> <input type="number"
				class="form-control" id="pincode" name="pincode"
				ng-model="form.pincode" />
		</div>

		<div>
			<label for="conatactNo1">Contact Number 1:</label> <input
				type="number" class="form-control" id="conatactNo1"
				name="conatactNo1" ng-model="form.conatactNo1" />
		</div>
		<div>
			<label for="conatactNo2">Contact Number 2:</label> <input
				type="number" class="form-control" id="conatactNo2"
				name="conatactNo2" ng-model="form.conatactNo2" />
		</div>

		<div>
			<label for="email">Email :</label> <input type="email"
				class="form-control" id="email" name="email" ng-model="form.email" />
		</div>


	</div>

	<div>
		<button type="submit" class="btn btn-primary">Add Retailer</button>
		<p style="color: green; font: bold;">{{message}}</p>

	</div>

</form>