<form role="form" ng-submit="getSaleReport()" class="form-inline">


	<div class="form-group">
		<label for="selectedVendor">Select Vendor</label> <select
			class="form-control" ng-model="selectedVendor"
			ng-options="x.vendorName for x in vendors" required="required">
		</select>
	</div>

	<div class="form-group">
		<label for="billDate">Billing date</label> <input type="date"
			class="form-control" id="billDate" name="billDate"
			ng-model="form.billDate" required="required" ng-change="getDateVal()" />
	</div>



	<button type="submit" class="btn btn-primary">Sale Report</button>
	<a ng-click="printToCart('printable')">Print Report</a>
</form>

<div id="printable" style="size: auto;">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Product</th>
				<th>Pack</th>
				<th>Case</th>
				<th>Total Sell Value</th>
			</tr>
		</thead>
		<tr ng-repeat="x in saleReport"
			style="font-size: x-small; font: bolder;">
			<td>{{ $index + 1 }}</td>
			<td>{{ x.productCode }}</td>
			<td>{{ x.unitSold }}</td>
			<td>{{ x.caseSold }}</td>
			<td>{{ x.subTotal }}</td>
		</tr>
	</table>
</div>

