<form role="form" ng-submit="updateCustomer()">
	<div class="form-group" style="width: 35%;">

		<div class="form-group">
			<label for="selectedRoute">Select Route </label> <select
				class="form-control" ng-model="selectedRoute"
				ng-options="x.areaCovered for x in routes" required="required"
				ng-change="getRetailers()">
			</select>
		</div>
		<div class="form-group">
			<label for="selectedRetailer">Select Retailer: </label> <select
				class="form-control" ng-model="selectedRetailer"
				ng-options="x.firmName for x in retailers" required="required">
			</select>
		</div>
		<div>
			<label for="gstNumber">GST NO:</label> <input type="text"
				class="form-control" id="gstNumber" name="gstNumber"
				ng-model="form.gstNumber" />
		</div>
		<div>
			<label for="panNumber">PAN NO:</label> <input type="text"
				class="form-control" id="panNumber" name="panNumber"
				ng-model="form.panNumber" />
		</div>
		<div>
			<label for="addharNumber">AADHAAR NO:</label> <input type="number"
				class="form-control" id="addharNumber" name="addharNumber"
				ng-model="form.addharNumber" />
		</div>
	</div>

	<div>
		<button type="submit" class="btn btn-primary">Update</button>
		<p style="color: green; font: bold;">{{message}}</p>

	</div>

</form>