<form role="form" class="form-inline" ng-submit="getInventory()">
	<div class="form-group">
		<label for="selectedRoute">Select Route: </label> <select
			class="form-control" ng-model="selectedRoute"
			ng-options="x.areaCovered for x in routes" required="required"
			ng-change="getRetailers()">
		</select>
	</div>
	<div class="form-group">
		<label for="selectedRetailer">Select Retailer: </label> <select
			class="form-control" ng-model="selectedRetailer"
			ng-options="x.firmName for x in retailers" required="required"
			ng-change="getInvoice()">
		</select>
	</div>
	<div class="form-group">
		<label for="selectedVendor">Invoice </label> <select
			class="form-control" ng-model="selectedInvoice"
			ng-options="x.invoiceCode  for x in activeInvoice"
			ng-change="fetchInvoice()">
		</select>
	</div>
</form>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Retailer Name</th>
			<th>Invoice Date</th>
			<th>Invoice Number</th>
			<th>Invoice Amount</th>

		</tr>
	</thead>
	<tr ng-repeat="x in activeInvoice" style="font-size: smaller;">
		<td>{{ $index + 1 }}</td>
		<td>{{ x.customerName }}</td>
		<td>{{ x.createDate }}</td>
		<td><a ng-click="fetchInvoice($event)">{{ x.invoiceCode }}</a></td>
		<td>{{ x.totalPrice }}</td>

	</tr>
</table>
<div id="printable">
	<div class="container"
		style="height: 7%; width: 60%; margin-left: 20%; background-color: #d9d9d9;">
		<p style="text-align: center;">
			Tax Invoice<br> <b style="text-decoration: underline;">Shree
				Mannu Enterprises</b><br> Mobile: 8434440162 GST NO:10CKTPD4306F1ZM
		</p>
		Invoice No.: {{ selectedInvoice.invoiceCode}} &nbsp;&nbsp;
		&nbsp;&nbsp; {{taxNumber}} &nbsp;&nbsp; Billing Add:
		{{selectedRetailer.firmName}}
		&nbsp;&nbsp;{{selectedRetailer.addressLine1}}

	</div>
	<hr>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Product</th>
				<th>HSN</th>
				<th>U/Price</th>
				<th>Quantity</th>
				<th>T/Disc</th>
				<th>Free</th>
				<th>SGST/CGST%</th>
				<th>SGST/CGST</th>
				<th>Sub Total</th>
			</tr>
		</thead>
		<tr ng-repeat="x in productList" style="font-size: smaller;">
			<td>{{ $index + 1 }}</td>
			<td>{{ x.productCode }}</td>
			<td>{{ x.hsnCode }}</td>
			<td>{{ x.unitPrice }}</td>
			<td>{{x.caseSold}}Cfc/{{ x.looseQuantity}}P</td>
			<td>{{ x.discountAmt }}</td>
			<td>{{ x.discountedPiece }}</td>
			<td>{{ x.taxRate/2}}%/{{ x.taxRate/2}}%</td>
			<td>{{ x.subTax/2}}/{{ x.subTax/2}}</td>
			<td>{{ x.subTotal }}</td>

		</tr>

		<tr>
			<td>TOTAL:</td>
			<td>Products:</td>
			<td>{{selectedInvoice.numberOfProduct}}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ selectedInvoice.totalPayableAmount }}</td>
		</tr>
	</table>
	<label style="margin-left: 20%;"> SGST Rs:{{
		selectedInvoice.taxCollected/2 }} &nbsp;&nbsp; &nbsp;&nbsp; CGST:: Rs
		{{selectedInvoice.taxCollected/2}}</label> <label style="margin-left: 20%;">
		Other Discount @ {{selectedInvoice.otherDiscountPercent}}%:Rs
		{{selectedInvoice.totalPayableAmount-selectedInvoice.totalPrice}}
		&nbsp;&nbsp; &nbsp;&nbsp; Net Amount Payable:: Rs
		{{selectedInvoice.totalPrice}}</label>
</div>


<button type="submit" class="btn btn-primary"
	ng-click="printToCart('printable')">Print</button>
<button type="submit" class="btn btn-primary"
	ng-click="closeInvoice()">Close</button>
	<p style="color: green; font: bold;">{{message}}</p>
<button type="submit" class="btn btn-primary"
	ng-click="cancelInvoice()">Cancel</button>
	<p style="color: red; font: bold;">{{message1}}</p>