<div class="container" style="min-width: 80%;">

	<div id="printable">
		<div class="container"
			style="height: 7%; width: 60%; margin-left: 20%; background-color: #d9d9d9;">
			<p style="text-align: center;">
				Tax Invoice<br> <b style="text-decoration: underline;"> Ashoka Enterprises</b><br> Mobile: 8291242015 GST
				NO:10APDPY4519C1Z8
			</p>
			Invoice No.: {{ invoice.invoiceCode}} &nbsp;&nbsp; &nbsp;&nbsp;
			{{taxNumber}} &nbsp;&nbsp; Billing Add: {{selectedRetailer.firmName}}
			&nbsp;&nbsp;{{selectedRetailer.addressLine1}}

		</div>
		<hr>

		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Product</th>
					<th>HSN</th>
					<th>U/Price</th>
					<th>Quantity</th>
					<th>T/Disc</th>
					<th>Free</th>
					<th>SGST/CGST%</th>
					<th>SGST/CGST</th>
					<th>Sub Total</th>
				</tr>
			</thead>
			<tr ng-repeat="x in invoiceProduct" style="font-size: smaller;">
				<td>{{ $index + 1 }}</td>
				<td>{{ x.productCode }}</td>
				<td>{{ x.hsnCode }}</td>
				<td>{{ x.unitPrice }}</td>
				<td>{{x.caseSold}}Cfc/{{ x.looseQuantity }}P</td>
				<td>{{ x.discountAmt }}</td>
				<td>{{ x.discountedPiece }}</td>
				<td>{{ x.taxRate/2}}%/{{ x.taxRate/2}}%</td>
				<td>{{ x.subTax/2}}/{{ x.subTax/2}}</td>
				<td>{{ x.subTotal }}</td>

			</tr>

			<tr>
				<td>TOTAL:</td>
				<td>Products:</td>
				<td>{{invoice.numberOfProduct}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{ invoice.totalPayableAmount }}</td>
			</tr>
		</table>
		<label style="margin-left: 20%;"> SGST Rs:{{
			invoice.taxCollected/2 }} &nbsp;&nbsp; &nbsp;&nbsp; CGST:: Rs
			{{invoice.taxCollected/2}}</label><br> <label style="margin-left: 20%;">
			Other Discount @ {{form.otherDiscountPercent}}%:Rs
			{{invoice.totalPayableAmount-invoice.totalPrice}} &nbsp;&nbsp;
			&nbsp;&nbsp; Net Amount Payable:: Rs {{invoice.totalPrice}}</label>
	</div>
	<hr>
	<form role="form" ng-submit="addInvoice()" class="form-inline">

		<div class="form-group">
			<label for="otherDiscountPercent"> OverAll Discount %</label> <input
				type="text" class="form-control" id="otherDiscountPercent"
				name="otherDiscountPercent" ng-model="form.otherDiscountPercent"
				ng-init="form.otherDiscountPercent=0" />
		</div>


		<button type="submit" class="btn btn-primary">Generate
			Invoice</button>
		<p style="color: green; font: bold;">{{message}}</p>
		<hr>
		<div class="form-group">
			<p style="color: red">Case : {{selectedProduct.totalCase}}
				&nbsp;&nbsp; &nbsp;&nbsp; Loose Quantity::
				{{selectedProduct.looseQuantity}} &nbsp;&nbsp; &nbsp;&nbsp; Billed
				Amount:: {{invoiceAmount}}</p>
			<div class="form-group">
				<label for="selectedRoute">Select Route: </label> <select
					class="form-control" ng-model="selectedRoute"
					ng-options="x.areaCovered for x in routes" required="required"
					ng-change="getRetailers()">
				</select>
			</div>
			<div class="form-group">
				<label for="selectedRetailer">Select Retailer: </label> <select
					class="form-control" ng-model="selectedRetailer"
					ng-options="x.firmName for x in retailers" required="required"
					ng-change="getDetail()">
				</select>
			</div>
			<div class="form-group">
				<label for="selectedVendor">Select Vendor</label> <select
					class="form-control" ng-model="selectedVendor"
					ng-options="x.vendorName for x in vendors" required="required"
					ng-change="getproduct()">
				</select>
			</div>
			<div class="form-group">
				<label for="selectedProduct">Select product: </label> <select
					class="form-control" ng-model="selectedProduct"
					ng-options="x.productName for x in products" required="required">
				</select>
			</div>

		</div>

	</form>
	<form role="form" class="form-inline">
		<div class="form-group">
			<label for="looseQuantity">Pack</label> <input type="number"
				class="form-control" id="looseQuantity" name="looseQuantity"
				ng-model="productForm.looseQuantity" required="required"
				ng-init="productForm.looseQuantity=0" />
		</div>
		<div class="form-group">
			<label for="caseSold">Case</label> <input type="number"
				class="form-control" id="caseSold" name="caseSold"
				ng-model="productForm.caseSold" ng-init="productForm.caseSold=0" />
		</div>

		<!-- <div class="form-group">
			<label for="discountName">Discount Name</label> <input type="text"
				class="form-control" id="discountName" name="discountName"
				ng-model="productForm.discountName" required="required" />
		</div> -->
		<div class="form-group">
			<label for="discount">Discount %</label> <input type="text"
				class="form-control" id="discount" name="discount"
				ng-model="productForm.discount" ng-init="productForm.discount=0" />
		</div>
		<div class="form-group">
			<label for="discountedPiece">Free Units</label> <input type="number"
				class="form-control" id="discountedPiece" name="discountedPiece"
				ng-model="productForm.discountedPiece"
				ng-init="productForm.discountedPiece=0" />
		</div>
		<button type="submit" class="btn btn-primary"
			ng-click="addInvoiceProduct()">ADD Product</button>
		<a ng-click="removeInvoiceProduct()">Remove Product</a>
	</form>
</div>
<button type="submit" class="btn btn-primary"
	ng-click="printToCart('printable')">Print</button>

