<form role="form" ng-submit="addProduct()">

	<div style="width: 50%;">
		<div class="form-group">
			<label for="selectedTax">Select TAX</label> <select
				class="form-control" ng-model="selectedTax"
				ng-options="x.taxName for x in taxes" required="required">
			</select>
		</div>
		<div class="form-group">
			<label for="selectedVendor">Select Vendor: </label> <select
				class="form-control" ng-model="selectedVendor"
				ng-options="x.vendorName for x in vendors" required="required">
			</select>
		</div>

		<div class="form-group">
			<label for="productName">Product Name:</label> <input type="text"
				class="form-control" id="productName" name="productName"
				ng-model="form.productName" required="required" />
		</div>


		<div class="form-group">
			<label for="costPrice">Cost Price:</label> <input type="text"
				class="form-control" id="costPrice" name="costPrice"
				ng-model="form.costPrice" required="required" />
		</div>

		<div class="form-group">
			<label for="sellPrice">Selling Price:</label> <input type="text"
				class="form-control" id="sellPrice" name="sellPrice"
				ng-model="form.sellPrice" value="0" />
		</div>

		<div class="form-group">
			<label for="mrp">MRP:</label> <input type="number"
				class="form-control" id="mrp" name="mrp" ng-model="form.mrp"
				required="required" />
		</div>
		<div class="form-group">
			<label for="piecePerCase">Piece Per Case</label> <input type="number"
				class="form-control" id="piecePerCase" name="piecePerCase"
				ng-model="form.piecePerCase" required="required" />
		</div>
		<div class="form-group">
			<label for="mrp">HSN Code:</label> <input type="number"
				class="form-control" id="hsnCode" name="hsnCode" ng-model="form.hsnCode" 
				required="required"/>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Add Product</button><p style="color: green; font: bold;">{{message}}</p>
</form>